# Variáveis que o CONTAINER POSTGRES lê:
POSTGRES_DB=db
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password123

# Variáveis que o LARAVEL lê (usando o host 'db'):
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db
DB_USERNAME=usuario
DB_PASSWORD=password123